//Импортируем сетку, шрифты и анимацию
@import 'base';
@import 'fonts';
@import 'keyframes';

body{
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat';
  background:#000;
}

section,
footer{
  width: 100vw;
  height: 100vh;
}

header{
  width: 100vw;
  height: 3.125em;
  background: rgba(0,0,0,0.7);
  position: fixed;
  // top: -3.125em;
  top: 0;
  left: 0;
  z-index: 5;
  transition:0.5s top;
  border-bottom: 2px solid #1488ff;
  .scroll-bar{
    max-width: 100%;
    background: #FF0069FF;
    height: 0.125em;
    position: absolute;
    bottom: -.125em;
    left: 0;
    transition:0.5s width ease-out;
  }
}

.preloader-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #000;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1;
  text-align: center;
  transition:0.5s all;
  &__boot1,
  &__boot2{
    width: 9.375em;
    // margin-left: -75px;
    position: absolute;
    top: 40%;
  }
  &__boot1{
    left: 45%;
    animation: 1.5s bootTwo linear infinite;
  }
  &__boot2{
    left: 45%;
    animation: 1.5s bootOne linear infinite;
  }
  &__title{
    color: #fff !important;
    position: relative;
    top: 60%;
  }
}

.menu{
  height: 3.125em;;
  width: 100%;
  display: flex;
  align-items:center;
  flex-wrap:wrap;
  &__link{
    color: #fff;
    margin: 0 .5em;
    transition:0.3s all;
    cursor: pointer;
    &.active{
      color: #1488ff;
    }
    &:hover{
      color: #1488ff;
    }
  }
}

.bar{
  position: relative;
  top: 0;
  left: 0;
  transition:0.3s all;
}

.pagination{
  position: fixed;
  width: 3.125em;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  z-index: 5;
  &__bullet{
    width: 0.625em;
    height: 0.625em;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    cursor: pointer;
    margin: 0.313em 0;
    &.active{
      background: #1488ff;
      animation: 0.4s setColor linear;
    }
  }
}

.main-screen{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
  }
  &__video{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  &__title{
    font-size: 3em;
    color: #fff !important;
    position: relative;
    z-index: 1;
    padding-top: 25vh;
    text-align: center;
  }
  &__swipe{
    font-family: 'Knewave', cursive;
    text-align: center;
    font-size: 2em;
    color: #fff;
    position: relative;
    z-index: 2;
    top: 35vh;
    max-width: 9.125em;
    margin: 0 auto;
    cursor: grab;
    &:after{
      content: '';
      position: absolute;
      right: 1em;
      top: 0em;
      display: block;
      width: 40px;
      height: 40px;
      background:url(../img/Curved-Arrow.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 0;
      z-index: 2;
      transform:rotateZ(140deg)
    }
    &:hover{
      animation:0.8s shaking;
    }
  }
  &__subtitle{
    font-size: 1.5em;
    color: #cca !important;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 5vh;
  }

  &__arrow{
    display: block;
    width: 4.688em;
    height: 4.688em;
    background: url(../img/arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    top: 14em;
    cursor: pointer;
    animation:1.5s jump infinite;
  }
}

.description{
  width: 100vw;
  height: 100vh;
}

.section-title{
  color: #fff;
  font-size: 2.5em;
  max-width: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 2.1em;
  padding-bottom: 10vh;
  position: relative;
  &:before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background:url(../img/logo.png);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 3em;
    top: 2.3em;
  }
  &:after{
    content: '';
    width: 50px;
    height: 50px;
    background:url(../img/logo.png);
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 3em;
    top: 2.3em;
  }
}

.about{
  &__item{
    height: 70vh;
  }
}

.item-img{
  max-height: 25vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 50%;
}

.item-description{
  font-size: 1em;
  color: #cca;
}

.item-title{
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  padding-bottom: .5em;
}

.tab-container{
  position: relative;
  background: #111;
  border-radius: 10px;
  margin-top: 2vh;
  &__question{
    color: #fff;
    text-align: center;
    padding: 2vh 0;
    cursor: pointer;
    position: relative;
    // &:hover{
    //   color: #1488ff;
    // }
    &:hover .question-list{
      opacity: 1;
      visibility: visible;     
    }
  }
  &__question-title{
    color: #1488ff;
    font-size: 1.1em;
    text-align: center;
    padding: 2vh 0;
    border-bottom: 2px solid #1488ff;
  }
  &__result{
    min-height: 20.5vh; 
    color: #fff;
    padding: 1.2em;
  }
  &__item{
    padding: 4.5vh 2vw;
    color: #fff;
  }
  &__contact{
    color: #fff;
    position: absolute;
    left: 7em;
  }
}

.question-list{
    position: absolute;
    width: 100%;
    right: -98%;
    top: 0;
    background: rgba(255,255,255,0.9);
    opacity: 0;
    visibility: hidden;
    border-radius: 15px;
    z-index: 2;
    &:before{
      content: '';
      position: absolute;
      left: -8px;
      top: 13px;
      width: 0;
      height: 0;
      opacity: 0.9;
      border-style: solid;
      border-width: 7.5px 8px 7.5px 0;
      border-color: transparent #ffffff transparent transparent;
    }
    &:hover{
      opacity: 1;
      visibility: visible;      
    }
    &__item{
      padding: 0.4em 0;
      color: #000;
    }
}

.form-title{
  font-size: 1.2em;
  color: #fff;
}

.input-box{
  // height: 10vh;
  background: #111;
  position: relative;
  padding-top: .5em;
  .input{
    position: absolute;
    width: 90%;
    height: 1.8em;
    left: 0;
    top: -10px;
    font-size: 1.3em;
    padding-left: 1.2vw;
    
    margin-bottom: 1em;
    border-radius: 6px;
    &:focus ~ .input-label, &:valid ~ .input-label{
      color: #1488ff;
      top: -2em;
      font-size: .9em;
    }
    // &:valid ~ .input-label{
    //   color: #1488ff;
    //   top: 10%;
    //   font-size: .9em;
    // }
  }
  textarea{
    resize:none;
    height: 2.3em !important;
    font-size: 1em;
  }
}

.input-label{
  position: absolute;
  left: 1em;
  top: 0;
  z-index: 2;
  color: #000;
  transition: 0.4s all; 
}

.input-submit{
  display: flex;
  width: 10em;
  height: 2em;
  justify-content:center;
  align-items:center;
  background:#1488ff;
  color: #fff;
  font-size: 1.5em;
}

@media screen and (max-width: 768px){
  header{
    display: none;
  }
  .pagination{
    width: 1.625em;
  }
  .question-list{
    right: .3em;
    top: 0em;
    width: 37vw;
  }
  .section-title{
    padding: .3em 0;
    &:before,
    &:after{
      display: none;
    }
  }
  .item-description{
    font-size: .85em;
  }
  .about__item{
    height: 25vh;
  }
  .item-img{
    display: none;
  }
  .input-submit{
    font-size: 1.3em;
    margin-top: -1em;
    width: 100%;
  }
  .tab-container__item {
    padding: 3.6vh 2vw;
  }
  .input{
    width: 100% !important;
  }
  .main-screen__video{
    display: none;
  }
  .main-screen{
    background: url(../img/cv.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
